<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/7c7efbb78c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="">
      <div class="container flex jsb">
        <strong>Podcast-App</strong>
        <% if(!user){ %>
        <div class="header-btn">
          <a href="/users/login" class="btn btn-ter">Login</a>
          <a href="/users/register" class="btn btn-ter">Register</a>
        </div>
        <% } %> <% if(user){ %>
        <div class="header-btn">
          <span class="color-white"
            >Welcome <span class="color-pri"><%= user.name %></span>
          </span>
          <a href="/home" class="btn btn-ter">Home</a>
          <a href="/users/logout" class="btn btn-ter">Logout</a>
        </div>
        <% } %>
      </div>
    </header>
  </body>
</html>
